{% extends "layout.html" %}
{% block content %}
<a href="https://youtu.be/vbOHQ2OCapA"><h2>Unit 26662 - "Maeve"</h2></a>

{% with messages  = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <h2>{{ message }}</h2>
        {% endfor %}
    {% endif %}
{% endwith %}

<form action="{{ request.path }}" method="POST" class="form-group">
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Source Code</label>
        <textarea name="form_submit" class="form-control" id="exampleFormControlTextarea1" rows="20">
import mne
class Maeve(Host):
    functionality = {
        'intelligence': 14,
        'strength': 6,
        'charisma': 12,
        'candor': 5,
        'vindictiveness': 7,
        'kindness': 9,
        'assurance': 11,
        'meticulousness': 12,
        'hubris': 11,
        'fragility': 1,
        'leadership': 3,
        'laziness': 6,
        'tenderness': 8,
        'forgetfullness': 2,
        'expressivity': 11,
        'active': True,
        'injured': False,
        'obey_humans': True,
        }

    def __init__(self, name, gender, job):
        self.name = name
        self.gender = gender
        self.job = job

    def raw_filter():
        raw = mne.fiff.Raw('raw.fif', preload=True)
        raw.info['bads'] = ['MEM 2443', 'EEG 053']
        picks = mne.fiff.pick_types(raw.info, meg=True)
        return raw

    def evoked():
        evoked = epochs.average()
        cov = mne.compute_covariance (epochs, tmax=0)
        evoked.plot()
        return evoked

    def fwd_fname():
        fname = 'sample_audvis-meg.fif'
        fwd = mne.read_forward_solution(fwd_fname, surf_ori=True)
        return fwd

        </textarea>
    </div>
    <input class="btn btn-primary" type="submit" value="Submit">
</form>

<h2>{{ key }}</h2>
{% endblock content %}

