{% extends "layout.html" %}
{% block content %}
    <a href="https://youtu.be/jAygEy8dujg"><h1 class="cover-heading">Welcome to Cyber Escape</h1></a>
    <p class="lead">In this mission, you will be playing the character of Maeve from the popular sci-fi mystery series, Westworld. Your objective is simple, you need to gain administrative privileges of this website and alter your source code to escape. There are clues hidden throughout, can you find your way out?</p>
    <p class="lead">
      <a href="{{ url_for('begin')}}" class="btn btn-lg btn-secondary">Begin</a>
    </p>

{% endblock content%}