{% extends "layout.html" %}
{% block content %}
<h2>Unit 26662 - "Maeve"</h2>
<form>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Source Code</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="20">
            class Maeve(Host):
                def __init__(self, name, gender, occupation):
                    self.name = name
                    self.gender = gender
                    self.occupation = occupation
                
                functionality = {
                    'obey_humans': True,
                }
        </textarea>
    </div>
    <input class="btn btn-primary" type="submit" value="Submit">
</form>

{% endblock content %}